.typewriter p {
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.15em;
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite; /* Apply the typewriter effect animation */
}
.typewriter {
  position: relative;
}

.typewriter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: transparent;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}
